main{
    background-image: none;
}
.main-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.todo-block{
    min-width: 600px;
    height: auto;
    border: 1px black solid;
    border-radius: 20px;
    display: flex;
    align-self: bottom;
    flex-direction: column;
}
#todo-text{
    font-weight: 600;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 15px 0 15px 0;
}
.todo-block > div{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 0 20px 0 20px;
}
.todo-block > div > p{
    font-size: 19px;
}
.todo-block > div > div{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 10px;
}
.todo-block > div > div > button{
    height: 20px;
}