*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
header{
    width: 100%;
    position: fixed;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: black;
    height: 100px;
    font-family: "Anton", sans-serif;
}
.name{
    font-size: 50px;
    text-decoration: none;
    color: white;
    transition: all 0.4s ease-in-out;
}
.name:hover{
    scale: 85%;
}
.menu-button{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    background: none;
    border: none;
    width: 42px;
    height: 42px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.menu-button:hover{
    scale: 115%;
}
.menu-button.pushed .butt{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.4s linear;
}
.menu-button .butt{
    height: 3px;
    width: 100%;
    background: white;
    transition: all 0.4s linear;
}
.menu-button.pushed .butt:nth-child(1){
    transform: rotate(225deg);
}
.menu-button.pushed .butt:nth-child(2){
    transform: rotate(315deg);
    opacity: 0%;
}
.menu-button.pushed .butt:nth-child(3){
    transform: rotate(315deg);
}
main{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-image: url("../images/punpun.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}
.menu{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    background: black;
    gap: 8px;
    top: 100px;
    transition: all 0.4s linear;
    transform: translateX(100%);
}
.menu ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}
.menu li{
    list-style-type: none;
    width: 120%;
    transition: all 0.4s ease-in-out;
}
.menu li a{
    display: block;
    padding: 20px 20px 20px 40px;
    text-decoration: none;
    font-size: 30px;
    color: white;
}
.menu li:hover{
    background: rgb(69, 69, 204);
    transform: translateX(-12%);
}
.opened{
    transform: translateX(0%);
    transition: all 0.5s linear;
}
/* hover effects(menu-button and menu) */
#punpun{
    display: block;
    position: relative;
    right: 760px;
    scale: 50%;
}